body {
    margin-top: 60px;
}

.navbar-brand {
    padding: 5px;
}

.navbar-brand img {
    border: 0;
    max-height: 40px;
}

#profile-img {
    width: 100%;
    max-width: 240px;
    margin-top: 20px;
}

.social-icon img {
    max-width: 40px;
}

#publications-box {
    font-size: 16px;
}

@media (max-width: 992px) {
    .center-on-small {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .center-on-small {
        text-align: center;
    }
}